<footer id="footer" class="site-footer">
  <script type="text/javascript">
    $("script[type='math/tex']").replaceWith(
      function () {
        var tex = $(this).text();
        return katex.renderToString(tex, { displayMode: false });
      });

    $("script[type='math/tex; mode=display']").replaceWith(
      function () {
        var tex = $(this).text();
        return katex.renderToString(tex.replace(/%.*/g, ''), { displayMode: true });
      });
  </script>
  <div class="inner">
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
      {% endif %}
    </div>
  </div>
</footer>
