---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <!-- <div class="entry-sidebar">
      </div> -->
      <div class="entry-content">
        {% include author %}
        {% if author_picture %}
        <img class="author-picture" src="{{ author_picture }}" alt="{{ author_name }}" style="width: 30%; height: auto; float: left; padding: 1%;">
        {% endif %}
        {{ content }}
      </div>
    </div>
  </div>
</main>
